version: '3'
services:
  nifi:
    image: apache/nifi
    container_name: nifi
    ports:
      - 8080:8080
    environment:
      - NIFI_WEB_HTTP_PORT=8080
    volumes:
      - ./nifi_state:/opt/nifi/nifi-current/state
      - ./nifi_db:/opt/nifi/nifi-current/database_repository
      - ./nifi_flowfile:/opt/nifi/nifi-current/flowfile_repository
      - ./nifi_content:/opt/nifi/nifi-current/content_repository
      - ./nifi_provenance:/opt/nifi/nifi-current/provenance_repository
      - ./input:/opt/nifi/input
      - ./output:/opt/nifi/output
      - ./code:/opt/nifi/code

  minimal-jupyter-notebook:
    image: jupyter/minimal-notebook:latest
    environment:
      - GRANT_SUDO=yes

    ports:
      - 8888:8888
    volumes:
      - ./notebooks:/home/jovyan/work
